body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0; /* Hintergrundfarbe der Menüleiste auf die gleiche Farbe wie den Hintergrund der Seite setzen */
    padding: 10px 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc; /* Linie hinzufügen */
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu li {
    display: inline;
    margin: 0 15px;
}

#menu a {
    color: #2c3e50; /* Farbe der Menülinks */
    text-decoration: none;
    padding: 0; /* Polsterung entfernen */
}

#menu a:hover {
    text-decoration: underline; /* Unterstreichung beim Überfahren hinzufügen */
}

#menu a, #backToTop {
    color: white;
    text-decoration: none;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 4px;
}

#menu a:hover, #backToTop:hover {
    background-color: #2980b9;
}

.section {
    color: #2c3e50;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.25em;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
}

#logos img {
    max-width: 100px;
    margin: 0 10px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#backToTop:hover {
    background-color: #2980b9;
}

input[type=text], input[type=email], input[type=submit] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3498db;
}
